[submodule "Hurrican/3rdparty/glm"]
	path = Hurrican/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hurrican/3rdparty/sdl2-cmake-scripts"]
	path = Hurrican/3rdparty/sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
